.landingPage{
    height: 99vh;
    width: 98vw;
}

.backgroundImage{
    height: 100%;
    width: 100%;
    background-image: url("images-Jimmy/landingPage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


