body {
    margin: 0;
    background-color: black;
    position: absolute;
}

.tokyo-background{
    background-image: url("images/kot-backgrounge-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    
}

.insideTokyo {
    background-color: red;
    border: 2px solid black;
    width: 250px;
    height: 250px;
    position: relative;
    top: 20%;
    left: 20%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-image: url('images/cyber-kitty.jpg');
    background-size: cover;
    background-position: center;
}

.outsideTokyo {
    background-color: red;
    border: 2px solid black;
    width: 500px;
    height: 200px;
    top: 45%;
    left: 50%;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-image: url('images/space-penguin-small.png');
    background-size: cover;
    background-position: center;
}

.MonsterContainerStats{
    background-color: purple;
    border: 1px solid black;
    color: white;
    height: 200px;
    width: 200px;
    font-size: 2rem;
    position: relative;
    top: 20%;
    left: 20%;
    opacity: .75;
    cursor: pointer;
    display: flex;

}