body {
    margin: 0;
    background-color: black;
    height: 100vh;
}

.tokyo-background{
    background-image: url("images/kot-backgrounge-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;    
}

.insideTokyo {
    background-color: red;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    position: relative;
    top: 15%;
    left: 20%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-image: url('images/cyber-kitty.jpg');
    background-size: cover;
    background-position: center;
}

.outsideTokyo {
    background-color: red;
    border: 2px solid black;
    width: 500px;
    height: 200px;
    top: 35%;
    left: 50%;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-image: url('images/space-penguin-small.png');
    background-size: cover;
    background-position: center;
}

.monsterContainerStats{
    background-color: purple;
    border: 1px solid black;
    color: white;
    height: 200px;
    width: 200px;
    font-size: 2rem;
    position: relative;
    top: 10%;
    left: 20%;
    
    cursor: pointer;
    display: flex;
    
    background-size: cover;
    background-position: center;
}
.monsterContainerStats .front {
    background-image: url('images/space-penguin-small.png');
    background-size: cover;
    background-position: center;
}
.back, .monsterContainerStats{
    background-image: url('images/cyber-kitty.jpg');
    background-size: cover;
    background-position: center;
}
