body {
    margin: 0;
    background-color: black;
    height: 100vh;
    
}


.modal{
    height:100px;
    width:500px;
    font-size:25px;
    /* background-color: blue; */
    position: absolute;
    float: center;
    top:70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: justify;
    z-index: 1;
 }

 .hide{
    display: none;
 }

.tokyo-background{
    background-image: url("images/kot-backgrounge-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;  
    font-size: auto; 
}

.insideTokyo {
    background-color: red;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    position: relative;
    top: 15%;
    left: 20%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-image: url('images/cyber-kitty.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.outsideTokyo {
    background-color: red;
    border: 2px solid black;
    width: 500px;
    height: 200px;
    top: 35%;
    left: 50%;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-image: url('images/space-penguin-small.png');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}


.currentPlayer{
    background-color: black;
    border: 1px solid rgb(49, 214, 226);
    color: rgb(49, 214, 226);
    font-weight: bold;
    font-size: 25px;
    display: flex;
    left: 16%;
    bottom: 39%;
    position: absolute;
}

#monsterContainerStats{
    background-color: purple;
    color: white;
    height: 200px;
    width: 200px;
    font-size: 1rem;
    position: relative;
    top: 10%;
    left: 20%;
    cursor: pointer;
    display: flex;
    float: left;
    background-size: cover;
    background-position: center;
}

#front, #back{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#front{
    display: none;
}
